services:
  backend:
    image: ${BACKEND_IMAGE:-ghcr.io/paulodb/ai-hub-backend:latest}
    build:
      context: ./apps/backend
    command: ["java", "-jar", "/app/app.jar"]
    env_file:
      - apps/backend/.env.example
      - .env
    depends_on:
      - sandbox-orchestrator
    ports:
      - "${BACKEND_HTTP_PORT:-8081}:8081"
    networks:
      default:
        aliases:
          - backend
  frontend:
    image: ${FRONTEND_IMAGE:-ghcr.io/paulodb/ai-hub-frontend:latest}
    build:
      context: ./apps/frontend
    env_file:
      - apps/frontend/.env.example
      - .env
    depends_on:
      - backend
    ports:
      - "${FRONTEND_HTTP_PORT:-8082}:80"
    networks:
      default:
      public-net:
        aliases:
          - aihub-frontend
  sandbox-orchestrator:
    image: ${SANDBOX_ORCHESTRATOR_IMAGE:-ghcr.io/paulodb/ai-hub-sandbox:latest}
    build:
      context: ./apps/sandbox-orchestrator
    env_file:
      - apps/sandbox-orchestrator/.env.example
      - .env
    ports:
      - "${SANDBOX_ORCHESTRATOR_HTTP_PORT:-8083}:8080"
    networks:
      default:
        aliases:
          - sandbox-orchestrator
      public-net:
        aliases:
          - sandbox-orchestrator
networks:
  default:
  public-net:
    external: true
